body {
    background-color: rgb(0, 0, 0);
}

main {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 100px);
}

.content {
    width: 70%;
    text-align: center;
}

.sub {
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.sub,
.desc,
.img,
.btn,
.screen {
    margin: 15px 15px;
}

.screen_img {
    border-radius: 5px;
    border: 3px solid rgb(65, 65, 65);
}

.desc_text,
.ex {
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(255, 255, 255);
}

.content,
.image,
.img {
    margin: 5px 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(55, 55, 55);
    background-color: rgb(170, 170, 170);
}

.image {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 450px;
}

.img {
    height: 450px;
    background-image: url('./img/filename.gif');
}

h1, footer {
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(90, 90, 90);
    border: 3px solid rgb(55, 55, 55);
}

.cqxg {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
